body {
    height: 100vh;
    overflow: hidden;
}

#maindiv {
    top: 0;
    height: 100vh;
    color: white;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}

#mainsection > article {
    scroll-snap-align: start;
}
#footer {
    scroll-snap-align: end;
}



#article-1 {
    padding: 0;
    height: 100vh;
    max-height: 800px;
    overflow: hidden;
}

#article-1 > h2 {
    position: absolute;
    top: 100px;
    right: 60px;
    margin: 0;
    padding: 20px;
    max-width: 300px;
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 3px 5px rgb(40,80,200);
    z-index: 10;
}

#article-1 > h2 > span {
    color: rgb(100,180,255);
}



#article-2 {
    padding: 0;
}

#article-2 > h3 {
    padding: 60px 20px;
    margin: 0;
    background-color: black;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px 3px 4px black;
}

#article-2 a {
    color: inherit;
    text-decoration: none;
}
#article-2 a:hover div h4 {
    text-decoration: underline;
}

#article-2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 300px;
    background-color: darkblue;
    border: solid 1px black;
}

#article-2 div h4 {
    margin: 0;
    font-size: 30px;
}

#solarsystem h4 {
    padding-bottom: 40px;
    width: 70%;
    height: 100px;
    text-align: right;
}
#spacetravel h4 {
    width: 70%;
    text-align: left;
}
#store h4 {
    padding-bottom: 50px;
    width: 70%;
    height: 100px;
    text-align: center;
}

#solarsystem {
    background-image: url('../images/index/solarsystem.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#spacetravel {
    background-image: url('../images/index/spacetravel.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
#store {
    background-image: url('../images/index/store.ashx');
    background-size: cover;
    background-repeat: no-repeat;
}