body {
    height: 100vh;
    overflow: hidden;
}

#maindiv {
    top: 0;
    height: 100vh;
    color: white;
    overflow-y: scroll;
}



#article-1 {
    padding: 0;
}

#article-1 img {
    width: 100%;
}

#article-1 h2 {
    margin: 0;
    margin-top: -100px;
    padding: 20px 30px;
    width: calc(100%-40px);
    text-align: center;
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 3px 5px rgb(40,80,200);
    z-index: 10;
}

#article-1 .description {
    margin: 0;
    padding: 30px 40px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(10,0,40);
}

#article-1 h4 {
    margin-left: 15px;
}

#article-1 p {
    padding: 15px;
    outline: solid 1px white;
}

@media (max-width: 600px) {
    #article-1 img {
        width: auto;
        height: 300px;
    }
}
@media (max-width: 405px) {
    #article-1 > h2 {
        margin-top: -150px;
    }
}



#article-2 {
    background-color: rgb(10,0,40);
}

#article-2 h3 {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

#article-2 #sunbox {
    display: flex;
    justify-content: center;
}

#article-2 img {
    max-width: 400px;
}

#article-2 p {
    padding: 0 50px;
    text-align: justify;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    line-height: 1.5;
}