body {
    height: 100vh;
    overflow: hidden;
}

#maindiv {
    top: 0;
    height: 100vh;
    color: white;
    overflow-y: scroll;
}

#maindiv * {
    font-family: 'Montserrat', sans-serif;
}



#article-1 {
    padding: 0;
    background-color: rgb(10,0,40);
}

#article-1 video {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#article-1 h2 {
    margin: 0;
    margin-top: -100px;
    padding: 20px 30px;
    width: calc(100% - 60px);
    text-align: center;
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 3px 5px rgb(40,80,200);
    z-index: 10;
}

#article-1 .description {
    margin: 0;
    padding: 30px 40px;
    font-size: 20px;
    background-color: rgb(10,0,40);
}

#article-1 h4 {
    margin-left: 65px;
}

#article-1 p {
    margin: 0 50px;
    margin-bottom: 30px;
    padding: 15px;
    outline: solid 1px white;
}

@media (max-width: 600px) {
    #article-1 h4 {
        margin-left: 0 45px;
    }
}
@media (max-width: 419px) {
    #article-1 h4 {
        margin-left: 0;
    }
    
    #article-1 p {
        margin: 0;
        margin-bottom: 30px;
        padding: 15px;
        outline: solid 1px white;
    }
}



#article-2 {
    background-color: rgb(10,0,40);
}

#article-2 h3 {
    text-align: center;
    font-size: 30px;
}

#article-2 #moonbox {
    display: flex;
    justify-content: center;
}

#article-2 img {
    max-width: 500px;
}

#article-2 p {
    padding: 0 50px;
    text-align: justify;
    font-size: 15px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    line-height: 1.5;
}

@media (max-width: 500px) {
    #article-2 img {
        max-width: 300px;
    }
}



#article-3 {
    background-color: black;
}

#article-3 h3 {
    text-align: center;
    font-size: 30px;
}

#article-3 #issbox {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
}

#article-3 #issbox img {
    max-width: min(800px, 90%);
}

#article-3 p {
    padding: 0 50px;
    text-align: justify;
    font-size: 15px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    line-height: 1.5;
}



#article-4 {
    background-color: rgb(10,0,40);
}

#article-4 h3 {
    text-align: center;
    font-size: 30px;
}

#article-4 p {
    padding: 0 50px;
    text-align: justify;
    font-size: 15px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    line-height: 1.5;
}



#article-5 {
    --rocket-scale: 3;
    --starship: 120px;
    --sls: 115px;
    --saturn-v: 110px;
    --ares-v: 105px;
    --delta-iv: 70px;
    --falcon-heavy: 69px;
    --falcon-9: 69px;
    --atlas-v: 65px;
    --space-shuttle: 55px;
    --soyuz: 42px;
}

#article-5 {
    background-color: black;
}

#article-5 h3 {
    text-align: center;
    font-size: 30px;
}

#article-5 #rockets-container {
    overflow-x: scroll;
    overflow-y: hidden;
}

/* Scrollbar */
#article-5 #rockets-container::-webkit-scrollbar {
    height: 5px;
}
#article-5 #rockets-container::-webkit-scrollbar-track {
    background: none;
}
#article-5 #rockets-container::-webkit-scrollbar-thumb {
    background: rgb(140,140,140);
    border-radius: 10px;
}
#article-5 #rockets-container::-webkit-scrollbar-thumb:hover {
    background: rgb(160,160,160); 
}

#article-5 #rockets {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}

#article-5 #rockets > div {
    display: inline-block;
    padding: 20px;
    margin: 20px;
    width: 200px;
    border: solid 1px gray;
}

#article-5 #rockets .rocket-img {
    display: flex;
    justify-content: center;
    align-items: end; 
    width: 200px;
    height: 400px;
}

/* Rocket Heights */
#starship img {
    height: calc(var(--starship) * var(--rocket-scale))
}
#sls img {
    height: calc(var(--sls) * var(--rocket-scale))
}
#saturn-v img {
    height: calc(var(--saturn-v) * var(--rocket-scale))
}
#ares-v img {
    height: calc(var(--ares-v) * var(--rocket-scale))
}
#delta-iv img {
    height: calc(var(--delta-iv) * var(--rocket-scale))
}
#falcon-heavy img {
    height: calc(var(--falcon-heavy) * var(--rocket-scale))
}
#falcon-9 img {
    height: calc(var(--falcon-9) * var(--rocket-scale))
}
#atlas-v img {
    height: calc(var(--atlas-v) * var(--rocket-scale))
}
#space-shuttle img {
    height: calc(var(--space-shuttle) * var(--rocket-scale))
}
#soyuz img {
    height: calc(var(--soyuz) * var(--rocket-scale))
}

#article-5 #rockets h4 {
    margin: 20px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
}

#article-5 #rockets p {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    white-space: normal;
}

@media (max-height: 1200px) {
    #article-5 #rockets > div {
        display: flex;
        width: 250px;
    }
}